/* responcive */

@media screen and (max-width: 1200px){
    .footer a, span, p{
      color: #a7bfb7;
      line-height: 1.7rem;
      font-size: .9rem;
    }
  }
  
  @media screen and (max-width: 992px) {
    .form p{
        font-size:.5rem ;
    }
  }

  @media screen and (min-width: 992px) {
  
  .section-center {
    width: 95vw;
  }
  .about{
    margin-bottom: 0;

  }
  .about-img {
    margin-bottom: 0;
  }
  .about-center {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
    }  
   .about-center p{
    line-height: 1.5rem;
   }
  .form p{
    font-size: .65rem;
  }
  
   
  }
  


  @media screen and (min-width: 800px) {
  
    h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.75rem;
      }
      h4 {
        font-size: 1rem;
      }
      h5 {
        font-size: 0.75rem;
      }

      body {
        font-size: 1rem;
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        line-height: 1;
      }
    nav {
      background: transparent;
      
    }
    .nav-center {
      width: 90vw;
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
    }
    .nav-header {
      padding: 0;
  
    }
    .nav-toggle {
      display: none;
    }
    .links-container {
      height: auto !important;
      transition: .5s;
    }
    .links {
      display: flex;
    }
    .links a {
      background: transparent;
      color: var(--clr-white);
      font-size: 1.1rem;
      text-transform: capitalize;
      letter-spacing: var(--spacing);
      display: block;
      transition: var(--transition);
      margin: 0 1rem;
      font-weight: bold;
      padding: 0;
    }
    .links a:hover {
      color: var(--clr-white);
      font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 768px){
    .container{
      width: 650px;
    }
    .container p {
        max-width: 40rem;
    }
    .section-center {
        width: 28rem; 
      }
    .form{
        display: none;
    }
    .firstPart{
        display: none;
    }
     
  }
  @media screen and (max-width: 688px){
    .container{
        width: 550px;
    }
}
  @media screen and (max-width: 556px){
    .container{
        width: 450px;
    }
    #slider li{
        font-size: .5rem;
    }
    .all-footer{
        padding: .2rem;
    }
    .footer a, span, p{
        line-height: 1.5rem;
        font-size: .8rem;
        
      }
}